@model BikeWatcher.Models.Stations

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Stations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="number" class="control-label"></label>
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pole" class="control-label"></label>
                <input asp-for="pole" class="form-control" />
                <span asp-validation-for="pole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="available_bikes" class="control-label"></label>
                <input asp-for="available_bikes" class="form-control" />
                <span asp-validation-for="available_bikes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="code_insee" class="control-label"></label>
                <input asp-for="code_insee" class="form-control" />
                <span asp-validation-for="code_insee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lng" class="control-label"></label>
                <input asp-for="lng" class="form-control" />
                <span asp-validation-for="lng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="availability" class="control-label"></label>
                <input asp-for="availability" class="form-control" />
                <span asp-validation-for="availability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="availabilitycode" class="control-label"></label>
                <input asp-for="availabilitycode" class="form-control" />
                <span asp-validation-for="availabilitycode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="etat" class="control-label"></label>
                <input asp-for="etat" class="form-control" />
                <span asp-validation-for="etat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startdate" class="control-label"></label>
                <input asp-for="startdate" class="form-control" />
                <span asp-validation-for="startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="langue" class="control-label"></label>
                <input asp-for="langue" class="form-control" />
                <span asp-validation-for="langue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bike_stands" class="control-label"></label>
                <input asp-for="bike_stands" class="form-control" />
                <span asp-validation-for="bike_stands" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_update" class="control-label"></label>
                <input asp-for="last_update" class="form-control" />
                <span asp-validation-for="last_update" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="available_bike_stands" class="control-label"></label>
                <input asp-for="available_bike_stands" class="form-control" />
                <span asp-validation-for="available_bike_stands" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gid" class="control-label"></label>
                <input asp-for="gid" class="form-control" />
                <span asp-validation-for="gid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="titre" class="control-label"></label>
                <input asp-for="titre" class="form-control" />
                <span asp-validation-for="titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="commune" class="control-label"></label>
                <input asp-for="commune" class="form-control" />
                <span asp-validation-for="commune" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nature" class="control-label"></label>
                <input asp-for="nature" class="form-control" />
                <span asp-validation-for="nature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bonus" class="control-label"></label>
                <input asp-for="bonus" class="form-control" />
                <span asp-validation-for="bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address2" class="control-label"></label>
                <input asp-for="address2" class="form-control" />
                <span asp-validation-for="address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lat" class="control-label"></label>
                <input asp-for="lat" class="form-control" />
                <span asp-validation-for="lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_update_fme" class="control-label"></label>
                <input asp-for="last_update_fme" class="form-control" />
                <span asp-validation-for="last_update_fme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="enddate" class="control-label"></label>
                <input asp-for="enddate" class="form-control" />
                <span asp-validation-for="enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="banking" class="control-label"></label>
                <input asp-for="banking" class="form-control" />
                <span asp-validation-for="banking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nmarrond" class="control-label"></label>
                <input asp-for="nmarrond" class="form-control" />
                <span asp-validation-for="nmarrond" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

