@{
    ViewData["Title"] = "Favorites";

}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Ville</th>
            <th scope="col">Description</th>
            <th scope="col">Vélos disponibles</th>
            <th scope="col">Favoris</th>
        </tr>
    </thead>

</table>



<p>Use this page to detail your site's privacy policy.</p>
