@{
    ViewData["Title"] = "Stations";
    var data = ViewBag.AllStation;
}
<h1>@ViewData["Title"]</h1>

@foreach (var Station in data)
{
    <span>@Station.name</span>
}

<p>Use this page to detail your site's privacy policy.</p>
